@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-color: rgb(234 88 12) rgb(41 37 36);
    scrollbar-width: thin;
  }
  body {
    font-family: "Karla", sans-serif;
    @apply text-stone-200 bg-stone-900;
  }
  ::-webkit-scrollbar {
    width: 0.3125rem;
  }
  ::-webkit-scrollbar-track {
    @apply bg-stone-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-orange-600 rounded-lg;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-500;
  }
}

@layer components {
  .icon {
    @apply stroke-current w-4 h-auto duration-500 hover:scale-105 active:scale-125 lg:w-6 lg:h-6;
  }

  .range-inputs {
    @apply cursor-pointer appearance-none h-6 bg-transparent;
  }
  .range-inputs::-webkit-slider-runnable-track {
    @apply bg-transparent h-0.5;
  }

  .range-inputs::-moz-range-track {
    @apply bg-transparent h-0.5;
  }

  .range-inputs::-webkit-slider-thumb {
    @apply will-change-auto appearance-none  bg-orange-600 h-3 w-3 rounded-full -mt-[0.3125rem] duration-200 ease-in-out hover:outline hover:outline-2 hover:outline-orange-600 hover:outline-offset-2;
  }
  .range-inputs::-moz-range-thumb {
    @apply appearance-none  bg-orange-600 h-3 w-3 rounded-full border-none;
  }

  .progress-bar {
    @apply absolute h-0.5  appearance-none;
  }
  .progress-bar::-webkit-progress-bar {
    @apply bg-stone-200;
  }
  .progress-bar::-moz-progress-bar {
    @apply bg-orange-600;
  }
  .progress-bar::-webkit-progress-value {
    @apply bg-orange-600;
  }
  .menu {
    @apply grid grid-cols-2 gap-0.5 place-items-center w-7 h-7 ml-auto cursor-pointer;
  }
  .menu div {
    @apply w-3 aspect-square bg-orange-600 duration-500 ease-in-out;
  }

  .menu-cross :first-child {
    @apply scale-y-[0.2] rotate-45 translate-x-1 translate-y-1;
  }
  .menu-cross :nth-child(2) {
    @apply scale-y-[0.2] -rotate-45;
  }
  .menu-cross :nth-child(3) {
    @apply scale-y-[0.2] -rotate-45;
  }
  .menu-cross :last-child {
    @apply scale-y-[0.2] rotate-45 -translate-x-1 -translate-y-1;
  }
  .navLinks {
    @apply font-bold text-xl duration-300 ease-in-out p-1 hover:text-orange-500 active:text-orange-500 relative after:absolute hover:after:scale-x-100 active:after:scale-x-100;
  }
  .navLinks::after {
    @apply h-0.5 w-full duration-300 scale-x-0 origin-left bottom-0 left-0 bg-orange-500;
  }
  .nav-container {
    @apply fixed w-full top-0 left-0 right-0  will-change-auto bg-stone-800 px-4 py-2 z-50 duration-500 ease-in-out after:absolute after:h-0.5 after:bg-orange-600 after:w-1/2 after:left-0 after:bottom-0 after:scale-x-0 after:origin-left after:duration-500 after:ease-linear;
  }
  .audio-player-container {
    @apply py-2 will-change-auto px-4 fixed bottom-0 left-0 right-0  h-16 w-full bg-stone-800 flex flex-col  items-center justify-evenly z-50 duration-500 ease-in-out after:absolute after:h-0.5 after:bg-orange-600 after:w-1/2 after:right-0 after:bottom-full after:scale-x-0 after:origin-right after:duration-500 after:ease-linear 2xl:justify-center;
  }

  .icon-play {
    @apply absolute inset-0 grid place-items-center duration-300 ease-in-out  cursor-pointer opacity-60 lg:scale-50 lg:opacity-0;
  }

  .list:hover picture ~ div {
    @apply opacity-100 scale-100;
  }
  .input-radio {
    @apply cursor-pointer appearance-none duration-300 w-3 aspect-square shadow-stone-800 shadow-lg rounded-sm bg-stone-200 border  checked:bg-orange-600 border-stone-800 checked:shadow-orange-700 lg:w-6;
  }
  .input-radio:checked ~ label {
    @apply text-orange-600 duration-300;
  }
  .search {
    @apply text-orange-600 shadow-orange-700 shadow-md focus:shadow-lg focus:shadow-orange-700 outline-none bg-stone-800 box-border py-1 pr-3 pl-6 rounded-sm duration-500 ease-in-out caret-orange-600;
  }
  .search::-webkit-input-placeholder {
    @apply text-orange-600 opacity-80;
  }
  .search::-ms-input-placeholder {
    @apply text-orange-600 opacity-80;
  }
  .headline {
    @apply capitalize border-b border-orange-600 small:text-center lg:border-b-2;
    font-size: clamp(1.5rem, 4vw, 3rem);
  }
}
